.skills {
  composes: section from '../app.scss';
}

.skills__title {
  composes: subtitle from '../app.scss';
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 50%;
}

.skills__section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 16px 0;
}

.skills__separator {
  height: 2px;
  width: 100%;
}
