.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  transition: all 0.25s ease;
  z-index: 9999999;
}

.header--hide {
  @extend .header;

  transform: translateY(-50px);
}

.header--show {
  @extend .header;

  transform: translateY(0);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  height: 100%;
  min-width: 32px;
  color: black;
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover {
    color: darkgray;
    box-shadow:  0 1px 0 0 white inset, 0 -2px 0 0 darkgray inset;
  }
}

.navigation__item--active {
  @extend .navigation__item;

  color: darkgray;
  box-shadow:  0 1px 0 0 white inset, 0 -2px 0 0 darkgray inset;
}
