@import '../../common/mixins';

.experience {
  composes: section from '../../common/app.scss';
}

.experience__title {
  composes: subtitle from '../../common/app.scss';
}

.jobs {
  composes: section from '../../common/app.scss';
}

.jobs__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 75%;

  @include tablet-up {
    height: 300px;
    width: 600px;
  }
}

.jobs__item {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  padding: 4px;
  height: 75px;
  width: 200px;
  border: 1px solid darkgray;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: darkgray;
    color: white;
  }

  @include tablet-up {
    height: 100px;
  }
}

.jobs__title {
  margin: 0;
  font-size: 1.25em;
}

.jobs__company,
.jobs__duration {
  margin: 4px 0;
  font-size: 1.1em;
}

.jobs__description {
  &--hide {
    display: none;
  }

  &--show {
    display: flex;
  }
}

.jobs__description--hide {
  display: none;
}
