.experience {
  composes: section from '../app.scss';
}

.experience__title {
  composes: subtitle from '../app.scss';
}

.jobs {
  composes: section from '../app.scss';
}

.jobs__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 66%;
  width: 50%;
}

.jobs__item {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  padding: 4px;
  width: 200px;
  border: 1px solid darkgray;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: darkgray;
    color: white;
  }
}

.jobs__title {
  margin: 0;
}

.jobs__company,
.jobs__duration {
  margin: 4px 0;
}

.jobs__description {
  &--hide {
    display: none;
  }

  &--show {
    display: flex;
  }
}
