@import 'mixins';

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  font-family: monospace;
}

.main {
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid black;
}

.subtitle {
  font-size: 1.5em;

  @include tablet-up {
    font-size: 2.5rem;
  }
}
